*{
    margin: 0;
    padding: 0;
  
}

table{

    width: 400px;
    
    outline: auto;
    margin: 20px;
   
}tr{

    text-align: center;
    outline: auto;
}
th{
    outline: auto;
    margin: 3px;
    background-color: rgba(8, 245, 8, 0.133);
}
td{

    outline: auto;
    background-color: rgba(20, 17, 34, 0.133);
}