:root{

    --text-color: rgb(216, 6, 6);
    --text-size: 100px;
}


.section-one p   {

    color: var(--text-color);
    --text-size: 100px;
    font-size: var(--text-size);
}

.section-two p{

    color: var(--text-color);
    font-size: var(--text-size);
}